.DS_Store
.project
*.o
*.so
*.obj
*.pdb
Makefile
mkmf.log
opencv.bundle
GPATH
GRTAGS
GSYMS
GTAGS
opencv-*
ruby-*.*.*
pkg/
doc/
log.txt
videowriter_result.avi
Gemfile.lock
.yardoc
.RUBYLIBDIR.*
.RUBYARCHDIR.*
.bundle
vendor/
